# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/out

.history


# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Applications
*.app
*.exe
*.war
*.zip

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Terraform installed components
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# mock stuff
mock_service
.webpack
.serverless

# esb repos
infrastructure/esb_setup/webhook-producer/
infrastructure/esb_setup/websocket-consumer/

apps/pricing-engine-e2e/cypress/downloads
